<a href="https://colab.research.google.com/github/afifrizkyandika11551100310/SEQUENSIAL_PATTERN_MINING_BMKG/blob/main/Testing_Data_BMKG_UAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sequensial Pattern Mining BMKG Dataset Jakarta**

Data yang digunakan adalah data laporan cuaca dari BMKG DKI Jakarta dengan rentang waktu seminggu selama 24 jam. Dataset ini menunjukkan kondisi langit Jakarta dengan menempatkan label sebagai sebuah indikasi yang menunjukkan langit Jakarta sedang dalam kondisi seperti apa. dari dataset berikut tugas penulis adalah menemukan sebuah sequensial yang dapat menemukan pola terhadap kondisi dari langit DKI Jakarta

![u0kzkg3a_400x400.jpg]()

## **1.1 Library and Data Initiation**

In [ ]:
pip install prefixspan

Collecting prefixspan
  Downloading prefixspan-0.5.2.tar.gz (10 kB)
Requirement already satisfied: docopt>=0.6.2 in /usr/local/lib/python3.7/dist-packages (from prefixspan) (0.6.2)
Collecting extratools>=0.8.1
  Downloading extratools-0.8.2.1.tar.gz (25 kB)
Requirement already satisfied: sortedcontainers>=1.5.10 in /usr/local/lib/python3.7/dist-packages (from extratools>=0.8.1->prefixspan) (2.4.0)
Requirement already satisfied: toolz>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from extratools>=0.8.1->prefixspan) (0.11.2)
Building wheels for collected packages: prefixspan, extratools
  Building wheel for prefixspan (setup.py) ... done
  Created wheel for prefixspan: filename=prefixspan-0.5.2-py3-none-any.whl size=11238 sha256=15728d442502c2d65e14729a9314eb341b4c242edb5c036320339744e2218134
  Stored in directory: /root/.cache/pip/wheels/99/6a/87/7170158a87b97a642d620ea1767f6519d2cf7db33cac1098ac
  Building wheel for extratools (setup.py) ... done
  Created wheel for extratools: filename=extratools-0.8.2.1-py3-none-any.whl size=28886 sha256=bdcae39c8cfe22316183b6a882dd5539efb58f1b8610efaca75d8fd352912100
  Stored in directory: /root/.cache/pip/wheels/78/c4/9d/581ca1511b5a7731bf2406c840dd445a6a8b8e494d29aa1c68
Successfully built prefixspan extratools
Installing collected packages: extratools, prefixspan
Successfully installed extratools-0.8.2.1 prefixspan-0.5.2

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from prefixspan import PrefixSpan
pd.set_option('display.max_colwidth', None)

In [ ]:
df = pd.read_csv('data_cuaca_dki.csv')
df.head()

  id_station               name_station  ... kecepatan angin   label
0    STA2172  AWS Maritim Tanjung Priok  ...          Tenang  Normal
1    STA2172  AWS Maritim Tanjung Priok  ...          Tenang  Normal
2    STA2172  AWS Maritim Tanjung Priok  ...          Tenang  Normal
3    STA2172  AWS Maritim Tanjung Priok  ...          Tenang  Normal
4    STA2172  AWS Maritim Tanjung Priok  ...          Tenang  Normal

[5 rows x 8 columns]

## 1.2 **Data Composition**

Pada tahap berikut, akan dilakukan analisa meta data dari dataset yang digunakan untuk menentukan apa saja tahap preprocessing yang akan digunakan

In [ ]:
# shape of dataset
df.shape

(4293, 8)

### **1.2.1 Check Null Values**

In [ ]:
df.isnull().sum()

id_station            0
name_station          0
data_timestamp        0
suhu udara           17
curah hujan          17
kelembapan udara     17
kecepatan angin     971
label                 0
dtype: int64

In [ ]:
null_data = df[df.isna().any(axis=1)]
null_data

     id_station               name_station  ... kecepatan angin   label
83      STA2172  AWS Maritim Tanjung Priok  ...             NaN  Normal
183     STA2172  AWS Maritim Tanjung Priok  ...             NaN  Normal
214     STA2172  AWS Maritim Tanjung Priok  ...             NaN  Normal
291     STA2172  AWS Maritim Tanjung Priok  ...             NaN  Normal
331     STA2172  AWS Maritim Tanjung Priok  ...             NaN  Normal
...         ...                        ...  ...             ...     ...
2148    STA2046                    AWS PIK  ...             NaN  Normal
2153    STA2046                    AWS PIK  ...             NaN  Normal
2203    STA2046                    AWS PIK  ...             NaN  Normal
2648    STA2181   AWS Stamet 745 Kemayoran  ...             NaN  Normal
3005    STA2181   AWS Stamet 745 Kemayoran  ...             NaN  Normal

[971 rows x 8 columns]

dapat dilihat pada kolom **kecepatan angin** terdapat kekosongan data yang cukup signifikan sehingga terdapat kebutuhan preprocessing memenuhi kekosongan data tersebut nantinya. untuk mengetahui hal tersebut, akan ditanpilkan apa saja komposisi deskriptif value yang terdapat pada masing - masing kolom dari dataset yang digunakan

### **1.2.2 Count Values**

pada tahap ini akan ditampilkan apa saja isi dari kolom - kolom strategis yang akan menjadi nilai input dari algoritma yang akan digunakan

In [ ]:
# columns nama stasiun
df['name_station'].value_counts()

AWS TMII                     983
AWS Matoa                    982
AWS Stamet 745 Kemayoran     895
AWS Maritim Tanjung Priok    727
AWS PIK                      706
Name: name_station, dtype: int64

In [ ]:
# columns suhu udara, ekstrem: < 15
df['suhu udara'].value_counts()

Suhu Normal        4273
Kurang dari 15C       3
Name: suhu udara, dtype: int64

In [ ]:
# columns curah hujan, ga ada yang ekstrem di sini
df['curah hujan'].value_counts()

Berawan         2101
Hujan Ringan    1991
Hujan Sedang     184
Name: curah hujan, dtype: int64

In [ ]:
# columns kelembapan udara, ekstrem: < 40% 
df['kelembapan udara'].value_counts()

Kelembapan Normal    4273
Kurang dari 40%         3
Name: kelembapan udara, dtype: int64

In [ ]:
# columns kecepatan angin; ekstrem: topan
df['kecepatan angin'].value_counts()

Tenang          1544
Topan            632
Sepoi Lemah      575
Teduh            525
Sepoi Lembut      46
Name: kecepatan angin, dtype: int64

In [ ]:
# columns label 
df['label'].value_counts()

Normal     3658
Ekstrem     635
Name: label, dtype: int64

## **1.3 Preprocessing**

In [ ]:
# fill null columns with 0
new_df.fillna(0,inplace=True)
new_df.head()

NameError: ignored

In [ ]:
sample = new_df.sample(frac=0.50).reset_index().drop(columns = 'index')
sample

     name_station       data_timestamp  ... kecepatan angin    label
0        AWS TMII  2021-03-02 06:30:00  ...           Topan  Ekstrem
1         AWS PIK  2021-03-03 02:30:00  ...          Tenang   Normal
2         AWS PIK  2021-03-05 19:50:00  ...          Tenang   Normal
3        AWS TMII  2021-03-07 22:00:00  ...           Topan  Ekstrem
4       AWS Matoa  2021-03-05 16:10:00  ...               0   Normal
...           ...                  ...  ...             ...      ...
2141     AWS TMII  2021-03-04 08:00:00  ...           Topan  Ekstrem
2142    AWS Matoa  2021-03-04 12:40:00  ...               0   Normal
2143      AWS PIK  2021-03-04 16:00:00  ...          Tenang   Normal
2144      AWS PIK  2021-03-05 19:30:00  ...          Tenang   Normal
2145     AWS TMII  2021-03-05 09:20:00  ...           Topan  Ekstrem

[2146 rows x 7 columns]

In [ ]:
sample['data_timestamp'] = pd.to_datetime(sample['data_timestamp'])

In [ ]:
sample.dtypes

name_station                object
data_timestamp      datetime64[ns]
suhu udara                  object
curah hujan                 object
kelembapan udara            object
kecepatan angin             object
label                       object
dtype: object

In [ ]:
new_sample = sample.drop(columns = 'data_timestamp')
new_sample.head()

  name_station   suhu udara  ... kecepatan angin    label
0     AWS TMII  Suhu Normal  ...           Topan  Ekstrem
1      AWS PIK  Suhu Normal  ...          Tenang   Normal
2      AWS PIK  Suhu Normal  ...          Tenang   Normal
3     AWS TMII  Suhu Normal  ...           Topan  Ekstrem
4    AWS Matoa  Suhu Normal  ...               0   Normal

[5 rows x 6 columns]

In [ ]:
# haah ?? kok tiba tiba bisa jalan ?? anjing la .. dari tadi bingung ngerun 10x tak jalan ntah dimana salah nya 
transactions = []
for i in range(0, len(new_sample)):
    transactions.append([str(new_sample.values[i,j]) for j in range(0, 6) if str(new_sample.values[i,j])!='0'])

In [ ]:
transactions[4]

['AWS Matoa', 'Suhu Normal', 'Hujan Sedang', 'Kelembapan Normal', 'Normal']

## **1.4 Previx Span Algorithm**

In [ ]:
sp = PrefixSpan(transactions)

In [ ]:
hasil = sp.frequent(7)
print('Rule yang dihasilkan =', len(hasil))

Rule yang dihasilkan = 527

In [ ]:
hasil

[(481, ['AWS TMII']),
 (481, ['AWS TMII', 'Suhu Normal']),
 (177, ['AWS TMII', 'Suhu Normal', 'Berawan']),
 (177, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Kelembapan Normal']),
 (153, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Topan']),
 (153,
  ['AWS TMII',
   'Suhu Normal',
   'Berawan',
   'Kelembapan Normal',
   'Topan',
   'Ekstrem']),
 (153, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Ekstrem']),
 (18,
  ['AWS TMII', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (18,
  ['AWS TMII',
   'Suhu Normal',
   'Berawan',
   'Kelembapan Normal',
   'Sepoi Lemah',
   'Normal']),
 (24, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (153, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Topan']),
 (153, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Topan', 'Ekstrem']),
 (153, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Ekstrem']),
 (18, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Sepoi Lemah']),
 (18, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Sepoi Lemah', 'Normal']),
 (24, ['AWS TMII', 'Suhu Normal', 'Berawan', 'Normal']),
 (481, ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal']),
 (306, ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal', 'Topan']),
 (306, ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (306, ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal', 'Ekstrem']),
 (169, ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal', 'Sepoi Lemah']),
 (169,
  ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (175, ['AWS TMII', 'Suhu Normal', 'Kelembapan Normal', 'Normal']),
 (306, ['AWS TMII', 'Suhu Normal', 'Topan']),
 (306, ['AWS TMII', 'Suhu Normal', 'Topan', 'Ekstrem']),
 (306, ['AWS TMII', 'Suhu Normal', 'Ekstrem']),
 (304, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan']),
 (304, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal']),
 (153,
  ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Topan']),
 (153,
  ['AWS TMII',
   'Suhu Normal',
   'Hujan Ringan',
   'Kelembapan Normal',
   'Topan',
   'Ekstrem']),
 (153,
  ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Ekstrem']),
 (151,
  ['AWS TMII',
   'Suhu Normal',
   'Hujan Ringan',
   'Kelembapan Normal',
   'Sepoi Lemah']),
 (151,
  ['AWS TMII',
   'Suhu Normal',
   'Hujan Ringan',
   'Kelembapan Normal',
   'Sepoi Lemah',
   'Normal']),
 (151,
  ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (153, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Topan']),
 (153, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Topan', 'Ekstrem']),
 (153, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Ekstrem']),
 (151, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Sepoi Lemah']),
 (151, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Sepoi Lemah', 'Normal']),
 (151, ['AWS TMII', 'Suhu Normal', 'Hujan Ringan', 'Normal']),
 (169, ['AWS TMII', 'Suhu Normal', 'Sepoi Lemah']),
 (169, ['AWS TMII', 'Suhu Normal', 'Sepoi Lemah', 'Normal']),
 (175, ['AWS TMII', 'Suhu Normal', 'Normal']),
 (177, ['AWS TMII', 'Berawan']),
 (177, ['AWS TMII', 'Berawan', 'Kelembapan Normal']),
 (153, ['AWS TMII', 'Berawan', 'Kelembapan Normal', 'Topan']),
 (153, ['AWS TMII', 'Berawan', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (153, ['AWS TMII', 'Berawan', 'Kelembapan Normal', 'Ekstrem']),
 (18, ['AWS TMII', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (18, ['AWS TMII', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (24, ['AWS TMII', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (153, ['AWS TMII', 'Berawan', 'Topan']),
 (153, ['AWS TMII', 'Berawan', 'Topan', 'Ekstrem']),
 (153, ['AWS TMII', 'Berawan', 'Ekstrem']),
 (18, ['AWS TMII', 'Berawan', 'Sepoi Lemah']),
 (18, ['AWS TMII', 'Berawan', 'Sepoi Lemah', 'Normal']),
 (24, ['AWS TMII', 'Berawan', 'Normal']),
 (481, ['AWS TMII', 'Kelembapan Normal']),
 (306, ['AWS TMII', 'Kelembapan Normal', 'Topan']),
 (306, ['AWS TMII', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (306, ['AWS TMII', 'Kelembapan Normal', 'Ekstrem']),
 (169, ['AWS TMII', 'Kelembapan Normal', 'Sepoi Lemah']),
 (169, ['AWS TMII', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (175, ['AWS TMII', 'Kelembapan Normal', 'Normal']),
 (306, ['AWS TMII', 'Topan']),
 (306, ['AWS TMII', 'Topan', 'Ekstrem']),
 (306, ['AWS TMII', 'Ekstrem']),
 (304, ['AWS TMII', 'Hujan Ringan']),
 (304, ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal']),
 (153, ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal', 'Topan']),
 (153, ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (153, ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal', 'Ekstrem']),
 (151, ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (151,
  ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (151, ['AWS TMII', 'Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (153, ['AWS TMII', 'Hujan Ringan', 'Topan']),
 (153, ['AWS TMII', 'Hujan Ringan', 'Topan', 'Ekstrem']),
 (153, ['AWS TMII', 'Hujan Ringan', 'Ekstrem']),
 (151, ['AWS TMII', 'Hujan Ringan', 'Sepoi Lemah']),
 (151, ['AWS TMII', 'Hujan Ringan', 'Sepoi Lemah', 'Normal']),
 (151, ['AWS TMII', 'Hujan Ringan', 'Normal']),
 (169, ['AWS TMII', 'Sepoi Lemah']),
 (169, ['AWS TMII', 'Sepoi Lemah', 'Normal']),
 (175, ['AWS TMII', 'Normal']),
 (2138, ['Suhu Normal']),
 (1047, ['Suhu Normal', 'Berawan']),
 (1047, ['Suhu Normal', 'Berawan', 'Kelembapan Normal']),
 (156, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Topan']),
 (156, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (156, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Ekstrem']),
 (311, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Tenang']),
 (311, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (891, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (105, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (105,
  ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (227, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Teduh']),
 (227, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (20, ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Sepoi Lembut']),
 (20,
  ['Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Sepoi Lembut', 'Normal']),
 (156, ['Suhu Normal', 'Berawan', 'Topan']),
 (156, ['Suhu Normal', 'Berawan', 'Topan', 'Ekstrem']),
 (156, ['Suhu Normal', 'Berawan', 'Ekstrem']),
 (311, ['Suhu Normal', 'Berawan', 'Tenang']),
 (311, ['Suhu Normal', 'Berawan', 'Tenang', 'Normal']),
 (891, ['Suhu Normal', 'Berawan', 'Normal']),
 (105, ['Suhu Normal', 'Berawan', 'Sepoi Lemah']),
 (105, ['Suhu Normal', 'Berawan', 'Sepoi Lemah', 'Normal']),
 (227, ['Suhu Normal', 'Berawan', 'Teduh']),
 (227, ['Suhu Normal', 'Berawan', 'Teduh', 'Normal']),
 (20, ['Suhu Normal', 'Berawan', 'Sepoi Lembut']),
 (20, ['Suhu Normal', 'Berawan', 'Sepoi Lembut', 'Normal']),
 (2138, ['Suhu Normal', 'Kelembapan Normal']),
 (312, ['Suhu Normal', 'Kelembapan Normal', 'Topan']),
 (312, ['Suhu Normal', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (312, ['Suhu Normal', 'Kelembapan Normal', 'Ekstrem']),
 (769, ['Suhu Normal', 'Kelembapan Normal', 'Tenang']),
 (769, ['Suhu Normal', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (1826, ['Suhu Normal', 'Kelembapan Normal', 'Normal']),
 (282, ['Suhu Normal', 'Kelembapan Normal', 'Sepoi Lemah']),
 (282, ['Suhu Normal', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (290, ['Suhu Normal', 'Kelembapan Normal', 'Teduh']),
 (290, ['Suhu Normal', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (22, ['Suhu Normal', 'Kelembapan Normal', 'Sepoi Lembut']),
 (22, ['Suhu Normal', 'Kelembapan Normal', 'Sepoi Lembut', 'Normal']),
 (312, ['Suhu Normal', 'Topan']),
 (312, ['Suhu Normal', 'Topan', 'Ekstrem']),
 (312, ['Suhu Normal', 'Ekstrem']),
 (769, ['Suhu Normal', 'Tenang']),
 (769, ['Suhu Normal', 'Tenang', 'Normal']),
 (1826, ['Suhu Normal', 'Normal']),
 (986, ['Suhu Normal', 'Hujan Ringan']),
 (986, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal']),
 (458, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Tenang']),
 (458,
  ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (832, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (154, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Topan']),
 (154,
  ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (154, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Ekstrem']),
 (177, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (177,
  ['Suhu Normal',
   'Hujan Ringan',
   'Kelembapan Normal',
   'Sepoi Lemah',
   'Normal']),
 (58, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Teduh']),
 (58, ['Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (458, ['Suhu Normal', 'Hujan Ringan', 'Tenang']),
 (458, ['Suhu Normal', 'Hujan Ringan', 'Tenang', 'Normal']),
 (832, ['Suhu Normal', 'Hujan Ringan', 'Normal']),
 (154, ['Suhu Normal', 'Hujan Ringan', 'Topan']),
 (154, ['Suhu Normal', 'Hujan Ringan', 'Topan', 'Ekstrem']),
 (154, ['Suhu Normal', 'Hujan Ringan', 'Ekstrem']),
 (177, ['Suhu Normal', 'Hujan Ringan', 'Sepoi Lemah']),
 (177, ['Suhu Normal', 'Hujan Ringan', 'Sepoi Lemah', 'Normal']),
 (58, ['Suhu Normal', 'Hujan Ringan', 'Teduh']),
 (58, ['Suhu Normal', 'Hujan Ringan', 'Teduh', 'Normal']),
 (105, ['Suhu Normal', 'Hujan Sedang']),
 (105, ['Suhu Normal', 'Hujan Sedang', 'Kelembapan Normal']),
 (103, ['Suhu Normal', 'Hujan Sedang', 'Kelembapan Normal', 'Normal']),
 (103, ['Suhu Normal', 'Hujan Sedang', 'Normal']),
 (282, ['Suhu Normal', 'Sepoi Lemah']),
 (282, ['Suhu Normal', 'Sepoi Lemah', 'Normal']),
 (290, ['Suhu Normal', 'Teduh']),
 (290, ['Suhu Normal', 'Teduh', 'Normal']),
 (22, ['Suhu Normal', 'Sepoi Lembut']),
 (22, ['Suhu Normal', 'Sepoi Lembut', 'Normal']),
 (1049, ['Berawan']),
 (1047, ['Berawan', 'Kelembapan Normal']),
 (156, ['Berawan', 'Kelembapan Normal', 'Topan']),
 (156, ['Berawan', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (156, ['Berawan', 'Kelembapan Normal', 'Ekstrem']),
 (311, ['Berawan', 'Kelembapan Normal', 'Tenang']),
 (311, ['Berawan', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (891, ['Berawan', 'Kelembapan Normal', 'Normal']),
 (105, ['Berawan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (105, ['Berawan', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (227, ['Berawan', 'Kelembapan Normal', 'Teduh']),
 (227, ['Berawan', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (20, ['Berawan', 'Kelembapan Normal', 'Sepoi Lembut']),
 (20, ['Berawan', 'Kelembapan Normal', 'Sepoi Lembut', 'Normal']),
 (156, ['Berawan', 'Topan']),
 (156, ['Berawan', 'Topan', 'Ekstrem']),
 (158, ['Berawan', 'Ekstrem']),
 (313, ['Berawan', 'Tenang']),
 (311, ['Berawan', 'Tenang', 'Normal']),
 (891, ['Berawan', 'Normal']),
 (105, ['Berawan', 'Sepoi Lemah']),
 (105, ['Berawan', 'Sepoi Lemah', 'Normal']),
 (227, ['Berawan', 'Teduh']),
 (227, ['Berawan', 'Teduh', 'Normal']),
 (20, ['Berawan', 'Sepoi Lembut']),
 (20, ['Berawan', 'Sepoi Lembut', 'Normal']),
 (2138, ['Kelembapan Normal']),
 (312, ['Kelembapan Normal', 'Topan']),
 (312, ['Kelembapan Normal', 'Topan', 'Ekstrem']),
 (312, ['Kelembapan Normal', 'Ekstrem']),
 (769, ['Kelembapan Normal', 'Tenang']),
 (769, ['Kelembapan Normal', 'Tenang', 'Normal']),
 (1826, ['Kelembapan Normal', 'Normal']),
 (282, ['Kelembapan Normal', 'Sepoi Lemah']),
 (282, ['Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (290, ['Kelembapan Normal', 'Teduh']),
 (290, ['Kelembapan Normal', 'Teduh', 'Normal']),
 (22, ['Kelembapan Normal', 'Sepoi Lembut']),
 (22, ['Kelembapan Normal', 'Sepoi Lembut', 'Normal']),
 (312, ['Topan']),
 (312, ['Topan', 'Ekstrem']),
 (314, ['Ekstrem']),
 (340, ['AWS PIK']),
 (338, ['AWS PIK', 'Suhu Normal']),
 (213, ['AWS PIK', 'Suhu Normal', 'Berawan']),
 (213, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Kelembapan Normal']),
 (99, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Tenang']),
 (99,
  ['AWS PIK',
   'Suhu Normal',
   'Berawan',
   'Kelembapan Normal',
   'Tenang',
   'Normal']),
 (213, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (17,
  ['AWS PIK', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (17,
  ['AWS PIK',
   'Suhu Normal',
   'Berawan',
   'Kelembapan Normal',
   'Sepoi Lemah',
   'Normal']),
 (95, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Teduh']),
 (95,
  ['AWS PIK',
   'Suhu Normal',
   'Berawan',
   'Kelembapan Normal',
   'Teduh',
   'Normal']),
 (99, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Tenang']),
 (99, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Tenang', 'Normal']),
 (213, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Normal']),
 (17, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Sepoi Lemah']),
 (17, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Sepoi Lemah', 'Normal']),
 (95, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Teduh']),
 (95, ['AWS PIK', 'Suhu Normal', 'Berawan', 'Teduh', 'Normal']),
 (338, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal']),
 (217, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Tenang']),
 (217, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (338, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Normal']),
 (17, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Sepoi Lemah']),
 (17,
  ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (101, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Teduh']),
 (101, ['AWS PIK', 'Suhu Normal', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (217, ['AWS PIK', 'Suhu Normal', 'Tenang']),
 (217, ['AWS PIK', 'Suhu Normal', 'Tenang', 'Normal']),
 (338, ['AWS PIK', 'Suhu Normal', 'Normal']),
 (125, ['AWS PIK', 'Suhu Normal', 'Hujan Ringan']),
 (125, ['AWS PIK', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal']),
 (118,
  ['AWS PIK', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Tenang']),
 (118,
  ['AWS PIK',
   'Suhu Normal',
   'Hujan Ringan',
   'Kelembapan Normal',
   'Tenang',
   'Normal']),
 (125,
  ['AWS PIK', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (118, ['AWS PIK', 'Suhu Normal', 'Hujan Ringan', 'Tenang']),
 (118, ['AWS PIK', 'Suhu Normal', 'Hujan Ringan', 'Tenang', 'Normal']),
 (125, ['AWS PIK', 'Suhu Normal', 'Hujan Ringan', 'Normal']),
 (17, ['AWS PIK', 'Suhu Normal', 'Sepoi Lemah']),
 (17, ['AWS PIK', 'Suhu Normal', 'Sepoi Lemah', 'Normal']),
 (101, ['AWS PIK', 'Suhu Normal', 'Teduh']),
 (101, ['AWS PIK', 'Suhu Normal', 'Teduh', 'Normal']),
 (215, ['AWS PIK', 'Berawan']),
 (213, ['AWS PIK', 'Berawan', 'Kelembapan Normal']),
 (99, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Tenang']),
 (99, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (213, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (17, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (17, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (95, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Teduh']),
 (95, ['AWS PIK', 'Berawan', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (101, ['AWS PIK', 'Berawan', 'Tenang']),
 (99, ['AWS PIK', 'Berawan', 'Tenang', 'Normal']),
 (213, ['AWS PIK', 'Berawan', 'Normal']),
 (17, ['AWS PIK', 'Berawan', 'Sepoi Lemah']),
 (17, ['AWS PIK', 'Berawan', 'Sepoi Lemah', 'Normal']),
 (95, ['AWS PIK', 'Berawan', 'Teduh']),
 (95, ['AWS PIK', 'Berawan', 'Teduh', 'Normal']),
 (338, ['AWS PIK', 'Kelembapan Normal']),
 (217, ['AWS PIK', 'Kelembapan Normal', 'Tenang']),
 (217, ['AWS PIK', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (338, ['AWS PIK', 'Kelembapan Normal', 'Normal']),
 (17, ['AWS PIK', 'Kelembapan Normal', 'Sepoi Lemah']),
 (17, ['AWS PIK', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (101, ['AWS PIK', 'Kelembapan Normal', 'Teduh']),
 (101, ['AWS PIK', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (219, ['AWS PIK', 'Tenang']),
 (217, ['AWS PIK', 'Tenang', 'Normal']),
 (338, ['AWS PIK', 'Normal']),
 (125, ['AWS PIK', 'Hujan Ringan']),
 (125, ['AWS PIK', 'Hujan Ringan', 'Kelembapan Normal']),
 (118, ['AWS PIK', 'Hujan Ringan', 'Kelembapan Normal', 'Tenang']),
 (118, ['AWS PIK', 'Hujan Ringan', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (125, ['AWS PIK', 'Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (118, ['AWS PIK', 'Hujan Ringan', 'Tenang']),
 (118, ['AWS PIK', 'Hujan Ringan', 'Tenang', 'Normal']),
 (125, ['AWS PIK', 'Hujan Ringan', 'Normal']),
 (17, ['AWS PIK', 'Sepoi Lemah']),
 (17, ['AWS PIK', 'Sepoi Lemah', 'Normal']),
 (101, ['AWS PIK', 'Teduh']),
 (101, ['AWS PIK', 'Teduh', 'Normal']),
 (771, ['Tenang']),
 (769, ['Tenang', 'Normal']),
 (1832, ['Normal']),
 (986, ['Hujan Ringan']),
 (986, ['Hujan Ringan', 'Kelembapan Normal']),
 (458, ['Hujan Ringan', 'Kelembapan Normal', 'Tenang']),
 (458, ['Hujan Ringan', 'Kelembapan Normal', 'Tenang', 'Normal']),
 (832, ['Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (154, ['Hujan Ringan', 'Kelembapan Normal', 'Topan']),
 (154, ['Hujan Ringan', 'Kelembapan Normal', 'Topan', 'Ekstrem']),
 (154, ['Hujan Ringan', 'Kelembapan Normal', 'Ekstrem']),
 (177, ['Hujan Ringan', 'Kelembapan Normal', 'Sepoi Lemah']),
 (177, ['Hujan Ringan', 'Kelembapan Normal', 'Sepoi Lemah', 'Normal']),
 (58, ['Hujan Ringan', 'Kelembapan Normal', 'Teduh']),
 (58, ['Hujan Ringan', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (458, ['Hujan Ringan', 'Tenang']),
 (458, ['Hujan Ringan', 'Tenang', 'Normal']),
 (832, ['Hujan Ringan', 'Normal']),
 (154, ['Hujan Ringan', 'Topan']),
 (154, ['Hujan Ringan', 'Topan', 'Ekstrem']),
 (154, ['Hujan Ringan', 'Ekstrem']),
 (177, ['Hujan Ringan', 'Sepoi Lemah']),
 (177, ['Hujan Ringan', 'Sepoi Lemah', 'Normal']),
 (58, ['Hujan Ringan', 'Teduh']),
 (58, ['Hujan Ringan', 'Teduh', 'Normal']),
 (488, ['AWS Matoa']),
 (488, ['AWS Matoa', 'Suhu Normal']),
 (105, ['AWS Matoa', 'Suhu Normal', 'Hujan Sedang']),
 (105, ['AWS Matoa', 'Suhu Normal', 'Hujan Sedang', 'Kelembapan Normal']),
 (103,
  ['AWS Matoa', 'Suhu Normal', 'Hujan Sedang', 'Kelembapan Normal', 'Normal']),
 (103, ['AWS Matoa', 'Suhu Normal', 'Hujan Sedang', 'Normal']),
 (488, ['AWS Matoa', 'Suhu Normal', 'Kelembapan Normal']),
 (482, ['AWS Matoa', 'Suhu Normal', 'Kelembapan Normal', 'Normal']),
 (22, ['AWS Matoa', 'Suhu Normal', 'Kelembapan Normal', 'Teduh']),
 (22, ['AWS Matoa', 'Suhu Normal', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (482, ['AWS Matoa', 'Suhu Normal', 'Normal']),
 (246, ['AWS Matoa', 'Suhu Normal', 'Berawan']),
 (246, ['AWS Matoa', 'Suhu Normal', 'Berawan', 'Kelembapan Normal']),
 (243, ['AWS Matoa', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (17, ['AWS Matoa', 'Suhu Normal', 'Berawan', 'Kelembapan Normal', 'Teduh']),
 (17,
  ['AWS Matoa',
   'Suhu Normal',
   'Berawan',
   'Kelembapan Normal',
   'Teduh',
   'Normal']),
 (243, ['AWS Matoa', 'Suhu Normal', 'Berawan', 'Normal']),
 (17, ['AWS Matoa', 'Suhu Normal', 'Berawan', 'Teduh']),
 (17, ['AWS Matoa', 'Suhu Normal', 'Berawan', 'Teduh', 'Normal']),
 (137, ['AWS Matoa', 'Suhu Normal', 'Hujan Ringan']),
 (137, ['AWS Matoa', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal']),
 (136,
  ['AWS Matoa', 'Suhu Normal', 'Hujan Ringan', 'Kelembapan Normal', 'Normal']),
 (136, ['AWS Matoa', 'Suhu Normal', 'Hujan Ringan', 'Normal']),
 (22, ['AWS Matoa', 'Suhu Normal', 'Teduh']),
 (22, ['AWS Matoa', 'Suhu Normal', 'Teduh', 'Normal']),
 (105, ['AWS Matoa', 'Hujan Sedang']),
 (105, ['AWS Matoa', 'Hujan Sedang', 'Kelembapan Normal']),
 (103, ['AWS Matoa', 'Hujan Sedang', 'Kelembapan Normal', 'Normal']),
 (103, ['AWS Matoa', 'Hujan Sedang', 'Normal']),
 (488, ['AWS Matoa', 'Kelembapan Normal']),
 (482, ['AWS Matoa', 'Kelembapan Normal', 'Normal']),
 (22, ['AWS Matoa', 'Kelembapan Normal', 'Teduh']),
 (22, ['AWS Matoa', 'Kelembapan Normal', 'Teduh', 'Normal']),
 (482, ['AWS Matoa', 'Normal']),
 (246, ['AWS Matoa', 'Berawan']),
 (246, ['AWS Matoa', 'Berawan', 'Kelembapan Normal']),
 (243, ['AWS Matoa', 'Berawan', 'Kelembapan Normal', 'Normal']),
 (17, ['AWS Matoa', 'Berawan', 'Kelembapan Normal', 'Teduh']),

In [ ]:
hasil_df = pd.DataFrame(hasil)
hasil_df.rename(columns={0: 'Sequence_Pattern', 1: 'Condition'}, inplace=True)

In [ ]:
hasil_df.sort_values(by=['Sequence_Pattern'], ascending=True).head(15)

     Sequence_Pattern                                                                                  Condition
423                14  [AWS Stamet 745 Kemayoran, Suhu Normal, Berawan, Kelembapan Normal, Sepoi Lembut, Normal]
422                14          [AWS Stamet 745 Kemayoran, Suhu Normal, Berawan, Kelembapan Normal, Sepoi Lembut]
487                14                                  [AWS Stamet 745 Kemayoran, Berawan, Sepoi Lembut, Normal]
486                14                                          [AWS Stamet 745 Kemayoran, Berawan, Sepoi Lembut]
478                14               [AWS Stamet 745 Kemayoran, Berawan, Kelembapan Normal, Sepoi Lembut, Normal]
477                14                       [AWS Stamet 745 Kemayoran, Berawan, Kelembapan Normal, Sepoi Lembut]
431                14                             [AWS Stamet 745 Kemayoran, Suhu Normal, Berawan, Sepoi Lembut]
432                14                     [AWS Stamet 745 Kemayoran, Suhu Normal, Berawan, Sepoi Lembut, Normal]
496                16                                [AWS Stamet 745 Kemayoran, Kelembapan Normal, Sepoi Lembut]
521                16                                                   [AWS Stamet 745 Kemayoran, Sepoi Lembut]
497                16                        [AWS Stamet 745 Kemayoran, Kelembapan Normal, Sepoi Lembut, Normal]
442                16           [AWS Stamet 745 Kemayoran, Suhu Normal, Kelembapan Normal, Sepoi Lembut, Normal]
466                16                                      [AWS Stamet 745 Kemayoran, Suhu Normal, Sepoi Lembut]
467                16                              [AWS Stamet 745 Kemayoran, Suhu Normal, Sepoi Lembut, Normal]
522                16                                           [AWS Stamet 745 Kemayoran, Sepoi Lembut, Normal]